* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* this removes all margins and paddings from every html marker */
}

body {
    background: #0f172a;
    color: #bdc1c6;
    /* padding: 14px; */
    min-height: 100vh; /*viewport height of 100% */
    display:flex; /* horizontal */
    flex-direction: column; /* changes layout to vertical direction - from top to bottom */
    gap: 14px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: row; /* has to be set to row for justify-content to work - row is default */
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

nav, 
section {
    display: flex;
    align-items: center;
    gap: 14px; /* gap between elements */
}

header section img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: 2px solid cyan;
}

.whiteLink {
    color: white;
}

.greyLink {
    color: lightgrey;
}

a {
    text-decoration: unset; /* no underline */
    font-size: 0.8em;
}

a:hover {
    text-decoration: underline; /* underline on hover */
}

main {
    flex: 1; /* main container becomes space-greedy - occupies as much space as possible so footer gets pushed down to the bottom edge --- only works if parent (body in this case) has display flex */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  /* align-items + justify-content set the main container directly in the center */
    gap: 24px;
    padding: 0 14px;
}

.headerText { /* priority --- id > class > tag > parent */
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    /* !important - gives highest priority */
}

.searchBar{
    display:flex;
    width:100%;
    max-width: 700px;
    margin: 0 auto;
    gap: 14px;
    border: 1px solid grey;
    padding: 14px;
    border-radius: 24px;
}

.searchBar:hover {
    border-color: transparent;
    background: #334155;
}

.iconButtonContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.iconButton {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

input {
    background: transparent;
    outline: none;
    border: unset;
    /* ^gets rid of default styling */
    color: white;
    flex: 1; /* input takes maximum space - pushes buttons to sides */
}

.searchButtonsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.searchButtonsContainer button { /*any button within this div class */
    padding: 10px 14px;
    border-radius: 4px;
    background: #334155;
    border: 1px solid transparent;
    color: white;
    cursor: pointer; /* the "click" cursor */
}

.searchButtonsContainer button:hover {
    border: 1px solid darkgrey;

}

.languageSelection {
    font-size: 0.9em;
}

.languageSelection span {
    color: cyan;
}

footer {
    display:flex;
    flex-direction: column;
}

footer > section {
    padding: 14px;
}

footer > section:last-child { /* direct children > --- only last section tag  */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid darkgrey;
}

.footerLink {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footerLink a {
    cursor: pointer;
}

@media (min-width: 540px) {
    footer > section:last-child {
        flex-direction: row;
    }
}
/* if width is greater than 540px ... */